__pycache__/
*.py[cod]
*.egg-info/
.venv/
db.sqlite3
db.sqlite3-journal
*.log
.env
.vscode/
.idea/
.DS_Store
node_modules/
media/
static/
!thermography_site/static/
!thermography_site/static/css/
!thermography_site/static/css/tailwind.css
!thermography_site/static/css/tailwind.src.css
.python-version
